.fixed {
    width: 90%;
    left: 0%;
    margin-left: 0%;
}

.heading {

    font-weight: bold;

    text-decoration: underline;

}

.center {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }