<!-- <header id="header" class="animated fadeInDown"></header> -->

<div class="container align-content-start">

  <div id="main" role="main" class="animated fadeInDown">

    <form (ngSubmit)="getOpportunity()" [formGroup]="getDataForm">

      <br>

      <div class="form-group">

        <label for="queryValue">{{'Enter AX Customer ID to search' | i18n }}</label>
        <input type="text" id="queryValue" formControlName="queryValue" class="form-control">

      </div>

      <span *ngIf="!getDataForm.valid && getDataForm.touched" class="help-block text-warning">{{'Please enter valid data' | i18n}}!</span>
      <br>

      <button class="btn btn-primary" type="submit" [disabled]="!getDataForm.valid">{{'Get Data' | i18n}}</button> &nbsp;

      <br>
      <br>

      <div style="color: red">

        {{ errorMessage }}

      </div>
      <div *ngIf="dataReturned">

        <sa-big-breadcrumbs [items]="['Opportunity List' | i18n ]" icon="table" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>

        <sa-widgets-grid>

          <div class="row">
            <article class="col-sm-12">

              <div sa-widget [editbutton]="false" color="darken">
                <header><span class="widget-icon"> <i class="fa fa-table"></i> </span>
                  <h2>{{'Customer' | i18n }} ID : {{ queryData }}</h2>
                </header>
                <div>
                  <div class="widget-body">
                    <!-- Distributor Table-->
                    <table id="opportunity" class="display table-striped table-bordered" width="100%"></table>

                  </div>
                </div>
              </div>

            </article>

          </div>

        </sa-widgets-grid>
      </div>

    </form>


  </div>

</div>