<!-- <header id="header" class="animated fadeInDown"></header> -->

<div id="main" role="main" class="animated fadeInDown" style="right: 10%">

  <div id="content">

    <form (ngSubmit)="getSalesforceData()" [formGroup]="getDataForm">

      <div class="radio" *ngFor="let type of distributorTypes" id="input">
        <label>
          <input type="radio" formControlName="distType" [value]="type"> {{ type | i18n }}
        </label>
      </div>
      <button class="btn btn-primary" type="submit">{{'Get Distributor List' | i18n }}</button> &nbsp;

      <div *ngIf="dataReturned ; else loading">

      <sa-big-breadcrumbs [items]="['Distributor List' | i18n ]" icon="table" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>

        <sa-widgets-grid>

        <div class="row">
          <article class="col-sm-12">

            <div sa-widget [editbutton]="false" color="darken">
              <header><span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>{{'Type' | i18n }} : {{ inputSelected | i18n }}</h2>
              </header>
              <div>
                <div class="widget-body">
                  <!-- Distributor Table-->
                  <table id="safety" class="display table-striped table-bordered" width="100%"></table>

                </div>

                <!-- Filters for all columns-->

                <!-- <div class="widget-body no-padding">
                  <sa-datatable  filter="true" paginationLength="true"  destroy="true"
                  [options]="{
                    colReorder: true,
                    destroy : true,
                  data: dataTable,
                  columns: [ {data: 'account'}, {data: 'name'}, {data: 'type'}, {data: 'phone'}, {data: 'web'}] }"
                  tableClass="display projects-table table table-striped table-bordered table-hover"
                  width="100%">
                  <thead>
                  <tr>
                    <th class="hasinput" style="width:10%">
                      <input type="text" class="form-control" placeholder="Find ID">
                    </th>
                    <th class="hasinput" style="width:12%">
                      <input type="text" class="form-control" placeholder="Filter Name">
                    </th>
                    
                    <th class="hasinput">
                      <input type="text" class="form-control" placeholder="Type Filter">
                    </th>
                    <th class="hasinput" style="width:12%">
                      <input type="text" class="form-control" placeholder="Phone Filter">
                    </th>
                    <th class="hasinput" style="width:10%">
                      <input type="text" class="form-control" placeholder="Website Filter">
                    </th>
                   
                  </tr>
                  <tr>
                    <th data-class="expand">Order ID</th>
                   
                    <th data-hide="phone, tablet">Name</th>
                    <th data-hide="phone, tablet">Filter</th>
                    <th data-hide="phone,tablet">Phone</th>
                    <th data-hide="phone,tablet">Website</th>
                   
                  </tr>
                  </thead>
  
                </sa-datatable>
                </div> -->

              </div>
            </div>

          </article>

        </div>

      </sa-widgets-grid>
    </div>

    <ng-template #loading>

      <div *ngIf="!Error && isClicked" class="center">
        <span id="demo-setting"><i class="fa fa-circle-o-notch fa-spin" style="color:lightslategray; font-size: 500%"></i></span>
    </div>
    
    </ng-template>
    
    
    <div *ngIf="isError">
    
      <h2 class="center text-danger"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i><strong>Unable to connect to Source!</strong></h2>
    
    </div>

    </form>


  </div>

</div>