@import url('https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js');

table {

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    font-size:13px
}

.center {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }

