
<br>
<div *ngIf="isDataAvailable ; else loading" id="main" role="main" class="animated fadeInDown move-left">

    <div class="row">
        <h1><span><i><img src="assets/img/icons/google-cloud-sql.png" alt="" style="max-width:4%"></i></span>
          
          <strong>{{'Inspection Case Detail' | i18n }}</strong></h1>

          <button type="button" class="btn btn-success pull-right" aria-label="Left Align" (click)="downloadPDF()">
            <span class="fa fa-download fa-lg" aria-hidden="true"></span>
            Export to PDF</button>
     
      </div>
      <br>
       <!-- row -->
  <div class="row" id="TestDetail">
      <div class="col-sm-10">
          <alert type="info" dismissible="true">
              <i class="fa-fw fa fa-info"></i>
              This Inspection is {{ overallTestStatus }}
          </alert>
      </div>
      <div class="col-sm-12">
          
        <div class="well">
          <!-- Test Line Summary-->
          <table class="table table-striped table-forum">
            <thead>
            <tr>
              <th colspan="2" style="width: 40%;">Summary</th>
              
            </tr>
            </thead>
            <tbody>
            <!-- TR -->
            <tr>
              <td class="text-right" style="width: 5%;"><i class="fa fa-id-badge fa-2x text-muted"></i></td>
              <td style="width: 30%;">
                <h4>
                 ID : {{testID}}
                  <small>Test Case ID</small>
                </h4>
              </td>
              <td class="text-right" style="width: 5%;"><i class="fa fa-plus-square fa-2x text-muted"></i></td>
              <td style="width: 30%;">
                <h4>
                  Quantity : {{Qty}}
                
                  <small>Quantity Inspected</small>
                </h4>
              </td>
            
            </tr>
            <!-- end TR -->
            <!-- TR -->
            <tr>
              <td class="text-right" style="width: 5%;"><i class="fa fa-product-hunt fa-2x text-muted"></i></td>
              <td style="width: 30%;">
                <h4>
                  Product : {{productName}}
               
                  <small>{{productID}}</small>
                </h4>
              </td>

              <td class="text-right" style="width: 5%;"><i class="fa fa-building fa-2x text-muted"></i></td>
                <td style="width: 30%;">
                  <h4>
                    WorkCell : {{workCell}}
                  
                    <small>WorkCell</small>
                  </h4>
                </td>
              
            </tr>

            </tbody>
          </table>
          <!-- Test Lines-->
          <table class="table table-striped table-forum">
            <thead>
            <tr>
              <th colspan="2" style="width: 35%;">Test Criteria <i class="fa fa-pencil" aria-hidden="true" style="color:blue" (click)="editLines()" title="Edit"></i></th>
              <th class="text-center hidden-xs hidden-sm" style="width: 15%;">Range Low</th>
              <th class="text-center hidden-xs hidden-sm" style="width: 15%;">Range High</th>
              <th class="text-center hidden-xs hidden-sm" style="width: 15%;">Ideal</th>
              <th class="text-center hidden-xs hidden-sm" style="width: 15%;">Actual</th>
              
            </tr>
            </thead>
            <tbody>
            <!-- TR -->
            <tr *ngFor="let line of testLine">
              <td class="text-center" style="width: 5%;" *ngIf="line.Status === 'Passed'"><i class="fa fa-check fa-2x text-muted" style="color : green"></i></td>
              <td class="text-center" style="width: 5%;" *ngIf="line.Status === 'Failed'"><i class="fa fa-times fa-2x text-muted" style="color : red"></i></td>
              <td style="width: 30%;">
                <h4>
                  {{line.criteriaName}}
                
                  <small>Criteria</small>
                </h4>
              </td>
              <td class="text-center hidden-xs hidden-sm"  style="width: 5%;">
                <a href="">{{line.rangeLow}} {{line.Unit}} </a>
              </td>
              <td class="text-center hidden-xs hidden-sm" style="width: 5%;">
                <a href="">{{line.rangeHigh}} {{line.Unit}}</a>
              </td>
              <td class="text-center hidden-xs hidden-sm" style="width: 5%;">
                  <a href="">{{line.rangeIdeal}} {{line.Unit}}</a>
                </td>
              <td class="text-center hidden-xs hidden-sm" style="width: 5%;">
                <a href="">{{line.testData}} {{line.Unit}}</a>
                <br>
                <small><i>{{line.Status}}</i></small>
              </td>
            </tr>
            <!-- end TR -->
           
            </tbody>
          </table>
         
        </div>
      </div>
    </div>
    <!-- end row -->

</div>






<!-- <div class="row">

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="width : 100%" saSparklineContainer >

    Target , Actual , total range, higher, lower

      <span class="sparkline display-inline" data-sparkline-type="bullet" data-sparkline-height="50%"  sparkline-width = "200px"
         data-sparkline-bulletrange-color='["#CCD7DB", "#92A2A8", "#57889C"]' data-sparkline-performance-color="#14A973" 
         data-sparkline-bullet-color="#143644" sparkline-barspacing=1 >86,50,100,88,85</span>
      
      
  </div>

  </div> -->



